Repository TechCell-Project/tech-cell-web-client, pull requests merged in 2024-03, with the labels that each got.

#126 fix(scripts): :bug: fix issue when install sdk
  .vscode/settings.json
  package.json
  yarn.lock
Labels: size/S

#129 feat(product): ✨ rebuild product detail page
  src/app/@modal/(.)dang-ky-tai-khoan/page.tsx
  src/app/@modal/(.)dang-nhap/page.tsx
  src/app/chi-tiet-san-pham/[slug]/NotFound.tsx
  src/app/chi-tiet-san-pham/[slug]/page.tsx
  src/components/Common/Cart/CartPage.tsx
  src/components/Common/Cart/ItemCard.tsx
  src/components/Common/Display/DialogCustom.tsx
  src/components/Common/Product/HandlingButtons.tsx
  src/components/Common/Product/ProductDetail.tsx
  src/components/Common/Product/ProductImageSlider.tsx
  src/components/Common/Product/ProductPrice.tsx
  src/components/Common/Product/ProductsSuggestion.tsx
  src/components/Common/Product/SalientFeatures.tsx
  src/components/Common/Product/SelectProductVariation.tsx
  src/components/Common/Product/Specification.tsx
  src/components/Common/ScrollLink/index.tsx
  src/components/Form/ProductDetails/ProductDetail.tsx
  src/components/Form/ProductDetails/SalientFeatures.tsx
  src/components/Form/ProductDetails/SliderImg.tsx
  src/libs/axios/index.ts
  src/middleware.ts
  src/models/Category.ts
  src/routes/appRoutes.ts
  src/services/ProductService.ts
  src/store/slices/cartSlice.ts
  src/store/slices/productSlice.ts
  src/styles/base/_custom.scss
  src/styles/components/productdetail.module.scss
  src/utils/funcs.ts
Labels: app, size/XXL

#130 fix(service): 🐛 fix infinite calling api in product detail page
  src/app/chi-tiet-san-pham/[slug]/NotFound.tsx
  src/app/chi-tiet-san-pham/[slug]/page.tsx
  src/components/Common/Product/ProductDetail.tsx
  src/store/slices/productSlice.ts
  src/utils/funcs.ts
Labels: app, size/M

#131 Adjust UI
  src/components/Common/Cart/CartPage.tsx
  src/components/Common/Home/HomePage.tsx
  src/components/Common/PaginationData/PaginationData.tsx
  src/components/Common/Product/ProductDetail.tsx
  src/components/Common/Product/ProductImageSlider.tsx
  src/components/Common/Product/SelectProductVariation.tsx
  src/components/Common/Product/Specification.tsx
  src/components/Common/Products/Products.tsx
  src/components/Form/CardComponent.tsx
  src/components/Layout/BreadCrumbs.tsx
  src/models/Common.ts
  src/utils/funcs.ts
Labels: app, size/L

#133 fix(app): :ambulance: fix redirect problem on login
  src/routes/appRoutes.ts
Labels: app, size/XS

#134 fix(scripts): :bug: fix issue when update sdk version
  package.json
  yarn.lock
Labels: size/S

#135 Fix searching bar; order detail stuffs in progress
  src/components/Common/Display/DialogCustom.tsx
  src/components/Common/Searching/CurrentSearchesCard.tsx
  src/components/Common/Searching/SearchBar.tsx
  src/components/Common/Searching/SortingToolbar-vSearch.tsx
  src/components/Common/UserOrder/OrderDetails.tsx
  src/components/Common/UserOrders/UserOrderCard.tsx
  src/components/Features/Profile/Dialog/UpdateInfo.tsx
  src/models/Order.ts
  src/services/OrderService.ts
  src/store/slices/orderSlice.ts
Labels: app, size/XXL

#137 rebuild products page as a server component
  src/app/danh-sach-san-pham/layout.tsx
  src/app/danh-sach-san-pham/page.tsx
  src/app/danh-sach-san-pham/pagination.tsx
  src/app/tim-kiem/layout.tsx
  src/app/tim-kiem/loading.tsx
  src/app/tim-kiem/page.tsx
  src/components/Common/Cart/CartPage.tsx
  src/components/Common/PaginationData/PaginationData.tsx
  src/components/Common/Products/BrandScrolling.tsx
  src/components/Common/Products/BreadCrumbs.tsx
  src/components/Common/Products/Products.tsx
  src/components/Common/Products/ProductsList.tsx
  src/components/Common/Products/SortingToolbar.tsx
  src/components/Common/Searching/ResultsPage.tsx
  src/components/Common/Searching/ResultsSection.tsx
  src/components/Layout/index.ts
  src/constants/ValidApisParams.ts
  src/constants/errorCode.ts
  src/styles/components/product.module.scss
  src/utils/funcs.ts
  src/utils/get-products.ts
Labels: app, size/XXL

#139 Refactor header navigation items
  src/app/danh-sach-san-pham/page.tsx
  src/components/Common/Home/HotSalesSection.tsx
  src/components/Common/Products/ProductsList.tsx
  src/components/Form/Common/AddressDialog/DialogAddressUpdate.tsx
  src/components/Form/MenuComponent.tsx
  src/components/Form/PromotionComponent.tsx
  src/components/Form/index.ts
  src/components/Layout/DrawerLayout.tsx
  src/components/Navigation/HeaderClient.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/Theme/MuiCustomTheme.ts
  src/components/UI/NavAccordion.tsx
  src/components/UI/NavMenu.tsx
  src/constants/NavConstant.ts
  src/constants/ValidApisParams.ts
  src/store/slices/profileSlice.ts
  src/styles/components/product.module.scss
Labels: app, size/XXL

#140 Refactor Product page to be SRR
  package.json
  src/app/chi-tiet-san-pham/[slug]/loading.tsx
  src/app/chi-tiet-san-pham/[slug]/page.tsx
  src/app/danh-sach-san-pham/layout.tsx
  src/app/danh-sach-san-pham/loading.tsx
  src/app/danh-sach-san-pham/page.tsx
  src/app/page.tsx
  src/components/Common/Display/LoadingPage.tsx
  src/components/Common/Home/SwiperCarousel.tsx
  src/components/Common/Product/ProductDetail.tsx
  src/components/Common/Product/ProductImageSlider.tsx
  src/components/Common/Product/ProductsSuggestion.tsx
  src/components/Common/Product/SelectProductVariation.tsx
  src/components/Common/Products/Products.tsx
  src/components/Common/Searching/CurrentSearches.tsx
  src/components/Common/Searching/CurrentSearchesCard.tsx
  src/components/Common/Searching/RecentSearches.tsx
  src/components/Common/Searching/SearchBarBox.tsx
  src/components/Layout/DrawerLayout.tsx
  src/components/Navigation/HeaderClient.tsx
  src/constants/contents/carousel.constant.ts
  src/constants/errorCode.ts
  src/models/Product.ts
  src/services/ProductService.ts
  src/utils/funcs.ts
  src/utils/get-products.ts
  yarn.lock
Labels: app, size/XXL

#141 fix(components): :ambulance: fix not redirect new payment url
  src/components/Common/UserOrder/OrderDetails.tsx
  src/store/slices/orderSlice.ts
Labels: app, size/S
