Repository TechCell-Project/tech-cell-web-client, pull requests merged in 2024-01, with the labels that each got.

#74 Features profile
  package.json
  src/app/(authorized)/ho-so/page.tsx
  src/components/Common/FormGroup/IconBtn.tsx
  src/components/Common/FormGroup/TextView.tsx
  src/components/Common/index.ts
  src/components/Features/Notification/NotificationList.tsx
  src/components/Features/Profile/Dialog/CreateOrUpdateAddress.tsx
  src/components/Features/Profile/Dialog/DeleteConfirmInfo.tsx
  src/components/Features/Profile/Dialog/UpdateInfo.tsx
  src/components/Features/Profile/Profile.tsx
  src/components/Features/Profile/ProfileAddress.tsx
  src/components/Features/Profile/ProfileAvatar.tsx
  src/components/Features/Profile/ProfileInfor.tsx
  src/components/Features/index.ts
  src/services/ImageService.ts
  src/services/LocationService.ts
  src/styles/base/_reset.scss
  src/styles/components/profile.module.scss
  yarn.lock
Labels: app

#75 Handling signin with server actions
  .vscode/settings.json
  next.config.js
  src/actions/signin.ts
  src/actions/signout.ts
  src/app/(authorized)/layout.tsx
  src/app/(unauthorized)/dang-nhap/page.tsx
  src/app/(unauthorized)/layout.tsx
  src/app/layout.tsx
  src/components/Navigation/HeaderClient.tsx
  src/config/index.ts
  src/config/instanceAuth.config.ts
  src/config/instancePublic.config.ts
  src/hooks/useProfile.ts
  src/libs/next-auth/auth.ts
  src/services/AttributeService.ts
  src/services/AuthService.ts
  src/services/CategoryService.ts
  src/services/Instance.ts
  src/services/InstancePublic.ts
  src/services/LocationService.ts
  src/services/ProductService.ts
  src/utils/shared.util.ts
Labels: app

#76 Update dependencies and refactor cart page
  .vscode/settings.json
  package.json
  src/app/(authorized)/gio-hang/page.tsx
  src/components/Common/Cart/CartItemCard.tsx
  src/components/Common/Cart/CartPage.tsx
  src/components/Common/Cart/ItemCard.tsx
  src/components/Common/Display/SkeletonCartItem.tsx
  src/components/Common/Display/index.ts
  src/components/Form/ProductDetails/SelectColorDialog.tsx
  src/constants/CartPaging.ts
  src/hooks/useProduct.ts
  src/hooks/userCart.ts
  src/services/CartService.ts
  src/services/ProductService.ts
  src/store/slices/cartSlice.ts
  src/store/slices/index.ts
  src/store/slices/productSlice.v2.ts
  src/store/store.ts
  src/utils/shared.util.ts
  yarn.lock
Labels: app

#79 fix(hooks): :bug: fix wrong user'data after signin as other user
  src/app/(authorized)/ho-so/page.tsx
  src/components/Common/Cart/CartPage.tsx
  src/hooks/useProduct.ts
  src/hooks/useProfile.ts
  src/hooks/userCart.ts
  src/store/slices/cartSlice.ts
  src/store/slices/productSlice.v2.ts
  src/store/slices/profileSlice.ts
  src/store/store.ts
  tsconfig.json
Labels: app

#80 Fix issue with user avatar not updating in UI
  src/components/Features/Profile/Dialog/CreateOrUpdateAddress.tsx
  src/components/Features/Profile/Dialog/UpdateInfo.tsx
  src/components/Features/Profile/Profile.tsx
  src/components/Features/Profile/ProfileAddress.tsx
  src/components/Features/Profile/ProfileAvatar.tsx
  src/components/Features/Profile/ProfileInfo.tsx
  src/components/Navigation/HeaderClient.tsx
  src/hooks/useAddress.ts
  src/hooks/useProfile.ts
  src/services/LocationService.ts
  src/store/slices/addressSlice.ts
  src/store/slices/index.ts
  src/store/store.ts
Labels: app

#81 fix(app): :bug: fix address issue
  .vscode/settings.json
  src/components/Common/FormFormik/AutocompleteCustom.tsx
  src/components/Features/Profile/Dialog/CreateOrUpdateAddress.tsx
  src/components/Features/Profile/ProfileAddress.tsx
  src/hooks/useAddress.ts
  src/utils/shared.util.ts
Labels: app

#83 Fix issues with address handling
  src/components/Common/FormFormik/AutocompleteCustom.tsx
  src/components/Features/Profile/Dialog/CreateOrUpdateAddress.tsx
  src/components/Features/Profile/Dialog/DeleteConfirmInfo.tsx
  src/hooks/useAddress.ts
Labels: app

#84 Add directory scanning utility and update moment locale
  public/carousel_img/img2.jpg
  src/app/page.tsx
  src/components/Form/CarouselComponent.tsx
  src/config/moment.config.ts
  src/constants/contents/common.constant.ts
  src/constants/contents/index.ts
  src/constants/index.ts
  src/utils/directory.util.ts
  tsconfig.json
Labels: app

#85 refactor: :rocket: add carousel images and update home page
  public/carousel_img/img2.png
  public/carousel_img/img4.png
  src/app/page.tsx
  src/constants/contents/carousel.constant.ts
  src/constants/contents/index.ts
  src/utils/directory.util.ts
Labels: app

#86 Fix typo and clear address form issue
  .vscode/settings.json
  src/components/Common/Home/HomePage.tsx
  src/components/Features/Profile/Dialog/CreateOrUpdateAddress.tsx
  src/components/Form/BrandCategoryCompoment.tsx
  src/hooks/useAddress.ts
Labels: app

#88 Resolve required changes
  .vscode/settings.json
  src/app/(unauthorized)/dang-nhap/page.tsx
  src/libs/next-auth/auth.ts
  src/middleware.ts
  src/services/AuthService.ts
Labels: app

#87 handle redirect for protected/unprotected routes in different cases
  .vscode/settings.json
  src/actions/createCookie.ts
  src/app/(authorized)/layout.tsx
  src/app/(unauthorized)/dang-nhap/page.tsx
  src/app/(unauthorized)/layout.tsx
  src/app/(unauthorized)/xac-thuc-tai-khoan/VerifyEmail.tsx
  src/app/chi-tiet-san-pham/[id]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Common/Cart/CartPage.tsx
  src/components/Common/Searching/SearchBarBox.tsx
  src/components/Features/Profile/Dialog/CreateOrUpdateAddress.tsx
  src/components/Form/CardComponent.tsx
  src/components/Form/Common/AddressDialog/DialogAddressEdit.tsx
  src/components/Form/Common/AddressDialog/DialogAddressUpdate.tsx
  src/components/Form/Common/AddressDialog/DialogProductDetail.tsx
  src/components/Form/ProductDetails/ProductDetail.tsx
  src/constants/Services.ts
  src/constants/contents/carousel.constant.ts
  src/constants/index.ts
  src/hooks/usePathnameChange.ts
  src/libs/axios/index.ts
  src/libs/next-auth/auth.ts
  src/middleware.ts
  src/models/Auth.ts
  src/models/Cart.ts
  src/models/Product.ts
  src/models/User.model.ts
  src/routes/appRoutes.ts
  src/routes/index.ts
  src/services/AuthService.ts
  src/services/CartService.ts
  src/services/ImageService.ts
  src/services/LocationService.ts
  src/services/OrderService.ts
  src/services/ProfileService.ts
  src/store/slices/authSlice.ts
  src/validate/auth.validate.ts
  tsconfig.json
Labels: app, required changes

#89 refactor(hooks): :zap: using `preLoadAddressDataFromUser` whenever user profile hook in used
  src/components/Features/Profile/ProfileAddress.tsx
  src/hooks/useAddress.ts
  src/hooks/useProfile.ts
Labels: app

#91 Add parallel `login, register` pages and refactor code
  package.json
  src/app/(unauthorized)/dang-ky-tai-khoan/page.tsx
  src/app/(unauthorized)/dang-nhap/page.tsx
  src/app/(unauthorized)/xac-thuc-tai-khoan/layout.tsx
  src/app/@modal/(.)dang-ky-tai-khoan/layout.tsx
  src/app/@modal/(.)dang-ky-tai-khoan/page.tsx
  src/app/@modal/(.)dang-nhap/layout.tsx
  src/app/@modal/(.)dang-nhap/page.tsx
  src/app/@modal/default.tsx
  src/app/layout.tsx
  src/components/Common/Display/DialogCustom.tsx
  src/components/Pages/Login/Login.tsx
  src/components/Pages/Login/index.ts
  src/components/Pages/Register/Register.tsx
  src/components/Pages/Register/VerifyEmail.tsx
  yarn.lock
Labels: app

#102 perf(images): :zap: optimize background images using `next/image`
  .vscode/settings.json
  src/components/Common/Home/BannerSection.tsx
  src/constants/Services.ts
Labels: app, size/S

#103 Fix user info data update and address refactor
  src/hooks/useAddress.ts
  src/hooks/useProfile.ts
Labels: app, size/M

#104 style(app): :art: responsive authentication pages
  src/app/(unauthorized)/quen-mat-khau/FromForgot.tsx
  src/app/(unauthorized)/quen-mat-khau/FromForgotPassword.tsx
  src/app/@modal/(.)dang-ky-tai-khoan/page.tsx
  src/app/@modal/(.)dang-nhap/page.tsx
  src/components/Common/Display/DialogCustom.tsx
  src/components/Common/FormFormik/TextFieldCustom.tsx
  src/components/Pages/Login/Login.tsx
  src/components/Pages/Register/Register.tsx
  src/styles/base/_mixins.scss
  src/styles/base/_variables.scss
  src/styles/components/button.module.scss
  src/styles/components/display.module.scss
Labels: app, size/L

#105 Add axios retry functionality
  package.json
  src/libs/axios/index.ts
  src/libs/next-auth/auth.ts
  yarn.lock
Labels: app, size/L

#107 Add UI for orders, select payment method when create order
  public/img_payment/COD.webp
  public/img_payment/vnpay.webp
  public/img_payment/vnpaydemo.webp
  src/app/(authorized)/don-hang/layout.tsx
  src/app/(authorized)/don-hang/page.tsx
  src/components/Common/OrderPreview/OrderListDialog.tsx
  src/components/Common/OrderPreview/PaymentDialog.tsx
  src/components/Common/OrderPreview/PreviewPage.tsx
  src/components/Common/OrderPreview/TableOrderList.tsx
  src/components/Form/Common/AddressDialog/DialogAddressUpdate.tsx
  src/components/Form/Common/PaymentDialog/DialogPayment.tsx
  src/components/Navigation/HeaderClient.tsx
  src/constants/enum.ts
  src/styles/components/orderHistory.module.scss
Labels: app, size/XL

#110 Update Orders page functionallity & responsive
  src/app/(authorized)/don-hang/page.tsx
  src/app/(authorized)/gio-hang/page.tsx
  src/app/(authorized)/ho-so/layout.tsx
  src/app/(unauthorized)/quen-mat-khau/FromForgot.tsx
  src/app/page.tsx
  src/components/Common/Address/ItemList/AddressItemList.tsx
  src/components/Common/Address/Lists/AddressList.tsx
  src/components/Common/Cart/CartFooter.tsx
  src/components/Common/Cart/CartPage.tsx
  src/components/Common/Cart/ItemCard.tsx
  src/components/Common/Display/DialogCustom.tsx
  src/components/Common/OrderPreview/OrderList.tsx
  src/components/Common/OrderPreview/OrderListItems.tsx
  src/components/Common/OrderPreview/PaymentDialog.tsx
  src/components/Common/OrderPreview/PreviewPage.tsx
  src/components/Common/OrderPreview/ShippingInfo.tsx
  src/components/Common/OrderPreview/TableOrderList.tsx
  src/components/Common/PaginationData/PaginationBar.tsx
  src/components/Common/UserOrders/UserOrderCard.tsx
  src/components/Common/UserOrders/UserOrders.tsx
  src/components/Form/CarouselComponent.tsx
  src/components/Form/Common/PaymentDialog/DialogPayment.tsx
  src/components/Layout/UserAvatar.tsx
  src/components/Layout/index.ts
  src/components/Navigation/HeaderClient.tsx
  src/components/Pages/Login/Login.tsx
  src/constants/contents/common.constant.ts
  src/constants/enum.ts
  src/models/Order.ts
  src/routes/appRoutes.ts
  src/services/LocationService.ts
  src/services/OrderService.ts
  src/store/slices/authSlice.ts
  src/store/slices/orderSlice.ts
  src/styles/components/cart.module.scss
  src/styles/components/payment.module.scss
  src/utils/funcs.ts
  yarn.lock
Labels: app, size/XXL

#112 Handling exception on fetching orders
  src/app/(authorized)/don-hang/page.tsx
  src/components/Common/OrderPreview/OrderList.tsx
  src/components/Common/OrderPreview/OrderListItems.tsx
  src/components/Common/OrderPreview/PaymentDialog.tsx
  src/components/Common/OrderPreview/PreviewPage.tsx
  src/components/Common/UserOrders/UserOrderCard.tsx
  src/components/Common/UserOrders/UserOrders.tsx
  src/components/Form/Common/AddressDialog/DialogAddressUpdate.tsx
  src/components/Navigation/HeaderClient.tsx
  src/hooks/usePrevious.ts
  src/routes/appRoutes.ts
  src/store/slices/orderSlice.ts
  src/styles/components/payment.module.scss
Labels: app, size/L

#115 refactor(styles): add responsive order, dialog ui
  src/app/(authorized)/don-hang/chi-tiet-don-hang/layout.tsx
  src/app/(authorized)/don-hang/chi-tiet-don-hang/page.tsx
  src/components/Common/Address/ItemList/AddressItemList.tsx
  src/components/Common/Address/Lists/AddressList.tsx
  src/components/Common/Cart/CartFooter.tsx
  src/components/Common/Cart/CartPage.tsx
  src/components/Common/Cart/ItemCard.tsx
  src/components/Common/Display/DialogCustom.tsx
  src/components/Common/OrderPreview/PaymentDialog.tsx
  src/components/Common/OrderPreview/PreviewPage.tsx
  src/components/Common/OrderPreview/StepperOrderDetail.tsx
  src/components/Common/UserOrders/UserOrderCard.tsx
  src/components/Common/UserOrders/UserOrders.tsx
  src/components/Form/Common/AddressDialog/DialogAddressUpdate.tsx
  src/components/Form/Common/PaymentDialog/DialogPayment.tsx
  src/components/Form/ProductDetails/ProductDetail.tsx
  src/components/Layout/DrawerLayout.tsx
  src/components/Navigation/HeaderClient.tsx
  src/constants/enum.ts
  src/styles/components/cart.module.scss
Labels: app, size/XXL

#116 feat(ui): add order details page
  src/app/(authorized)/don-hang/chi-tiet-don-hang/[slug]/layout.tsx
  src/app/(authorized)/don-hang/chi-tiet-don-hang/[slug]/page.tsx
  src/components/Common/Cart/CartFooter.tsx
  src/components/Common/UserOrders/UserOrderCard.tsx
  src/components/Form/Order/OrderDetail.tsx
  src/constants/enum.ts
Labels: app, size/L
