Repository TechCell-Project/tech-cell-web-client, pull requests merged in 2024-02, with the labels that each got.

#120 feat(order): :sparkles: update select payment method in order create page
  public/img_payment/JCB.png
  public/img_payment/cod.png
  public/img_payment/mastercard.png
  public/img_payment/visa-512.webp
  src/app/(authorized)/don-hang/[orderId]/layout.tsx
  src/app/(authorized)/don-hang/[orderId]/page.tsx
  src/app/(authorized)/don-hang/chi-tiet-don-hang/[slug]/layout.tsx
  src/app/(authorized)/don-hang/chi-tiet-don-hang/[slug]/page.tsx
  src/app/(authorized)/don-hang/chi-tiet-don-hang/page.tsx
  src/components/Common/Cart/CartItemCard.tsx
  src/components/Common/OrderPreview/OrderList.tsx
  src/components/Common/OrderPreview/PaymentDialog.tsx
  src/components/Common/OrderPreview/PaymentMethodCard.tsx
  src/components/Common/OrderPreview/PreviewPage.tsx
  src/components/Common/OrderPreview/SelectingPaymentMethod.tsx
  src/components/Common/OrderPreview/TableOrderList.tsx
  src/components/Common/UserOrder/OrderDetails.tsx
  src/components/Common/UserOrder/OrderItemCard.tsx
  src/components/Common/UserOrder/StepperOrderDetail.tsx
  src/components/Common/UserOrders/UserOrderCard.tsx
  src/components/Form/Common/PaymentDialog/DialogPayment.tsx
  src/constants/contents/common.constant.ts
  src/constants/enum.ts
  src/middleware.ts
  src/models/Order.ts
  src/routes/appRoutes.ts
  src/store/slices/orderSlice.ts
  src/styles/components/payment.module.scss
  src/utils/address.util.ts
  src/utils/funcs.ts
Labels: app, size/XXL

#121 feat(deps): :arrow_up: upgrade to use yarn stable 4.1.0 version
  .gitignore
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  package.json
  src/app/layout.tsx
  yarn.lock
Labels: github, app, size/XXL

#124 fix: :bug: fix bug state showReadMore in notification slice
  src/components/Features/Notification/NotificationList.tsx
  src/components/Form/CarouselComponent.tsx
  src/components/Navigation/HeaderClient.tsx
  src/store/slices/notificationSlice.ts
  src/styles/components/header.module.scss
Labels: app, size/M

#122 Responsive Review page
  src/components/Common/Address/ItemList/AddressItemList.tsx
  src/components/Common/Address/Lists/AddressList.tsx
  src/components/Common/Cart/CartFooter.tsx
  src/components/Common/Cart/CartItemCard.tsx
  src/components/Common/Cart/ItemCard.tsx
  src/components/Common/Display/DialogCustom.tsx
  src/components/Common/Display/SkeletonCartItem.tsx
  src/components/Common/OrderPreview/OrderList.tsx
  src/components/Common/OrderPreview/OrderListDialog.tsx
  src/components/Common/OrderPreview/OrderListItems.tsx
  src/components/Common/OrderPreview/PaymentMethodCard.tsx
  src/components/Common/OrderPreview/PreviewPage.tsx
  src/components/Common/OrderPreview/SelectingPaymentMethod.tsx
  src/components/Common/OrderPreview/ShippingInfo.tsx
  src/components/Common/UserOrder/OrderDetails.tsx
  src/styles/base/_custom.scss
Labels: app, size/XL

#125 refactor(components): :bug: fix get orders fail
  src/app/page.tsx
  src/components/Common/Products/Products.tsx
  src/components/Common/UserOrders/UserOrderCard.tsx
  src/components/Common/UserOrders/UserOrders.tsx
  src/components/Form/ProductDetails/ProductDetail.tsx
Labels: app, size/S
